* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(90deg, rgb(234, 228, 183), rgb(227, 209, 117));
  background: -moz-linear-gradient(90deg, rgb(234, 228, 183), rgb(227, 209, 117));
  background: linear-gradient(90deg, rgb(234, 228, 183), rgb(227, 209, 117));
}
a {
  text-decoration: none !important;
  color: #676666;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 992px;
  margin: auto;
}
/* ------youtube------- */

.youtube {
  padding: 20px 0;
}

.youtube_wrap {
  display: flex;
  flex-flow: wrap;
}

.left_youtube,
.right_youtube {
  width: 50%;
}

.right_youtube .youtube_wrap {
  padding-left: 15%;
}

.right_youtube .youtube_wrap .youtube_block .youtube_inblock iframe {
  width: 100%;
}

.youtube_block {
  width: 50%;
}

/* .youtube_block .right_padding {
  padding-right: 10px;
} */

.youtube_block .padding_bottom {
  padding-bottom: 20px;
}

.youtube_inblock {
  width: 200px;
}

/* ------youtube end------- */

/* ------about_kyrgyzstan------- */

.about_kyrgyzstan {
  padding: 20px 0;
}

.about_wrap {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin-right: -10px;
}

.about_block {
  padding-right: 10px;
  width: 20%;
}

.about_block img {
  width: 100%;
}
/* ------about_kyrgyzstan end------- */

/* --------Sponsors--------- */

.wrap_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  border-bottom: 3px solid #000;
  width: 100%;
}

.line_title {
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;
  padding: 0 30px;
}
/* --------Sponsors end--------- */

/* -------Media--------- */
@media screen and (max-width: 768px) {
  .box {
    width: 33.33%;
  }
  .logo_description {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .box {
    width: 50%;
  }
  .logo_description {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
  .menu li {
    width: 100%;
    display: block;
    font-size: 12px;
  }
  .menu a {
    display: block;
    padding: 8px;
  }
}
/* -------Media--------- */
