* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(90deg, rgb(234, 228, 183), rgb(227, 209, 117));
  background: -moz-linear-gradient(90deg, rgb(234, 228, 183), rgb(227, 209, 117));
  background: linear-gradient(90deg, rgb(234, 228, 183), rgb(227, 209, 117));
}
a {
  text-decoration: none !important;
  color: #676666;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 992px;
  margin: auto;
}

/* -------Media--------- */
@media screen and (max-width: 768px) {
  .box {
    width: 33.33%;
  }
  .logo_description {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .box {
    width: 50%;
  }
  .logo_description {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
  .menu li {
    width: 100%;
    display: block;
    font-size: 12px;
  }
  .menu a {
    display: block;
    padding: 8px;
  }
}
/* -------Media--------- */
