img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h4 {
  padding-left: 12px;
}
.logo img {
  width: 60px;
}
.menu {
  display: flex;

  align-items: center;
  background-color: skyblue;
}
.menu li {
  padding: 14px;
  font-size: 14px;
  position: relative;
}

li:hover {
  background-color: skyblue;
  color: #fff;
}

li ul {
  position: absolute;
  top: 110%;
  left: 0px;
  background-color: #318ce7;
  color: black;
  overflow: hidden;
  max-height: 0px;
  transition: 1s;
}
li:hover > ul {
  max-height: 500px;
}
.lang {
  display: flex;
  align-items: center;
  position: relative;
}

/* --------map_youtube--------- */
.map_youtube {
  margin: 50px 50px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

/* --------map_youtube--------- */

.media {
  display: flex;
  justify-content: center;
}

hr {
  border: 1px solid black;
}

/* ----Gallery----- */
.gallery {
  padding: 0px 50px;
}
.gallery_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  margin-right: -15px;
}
.box {
  width: 25%;
  padding-right: 15px;
  padding-bottom: 15px;
}
.inbox {
  color: white;
  text-align: center;
}

/* ----Gallery----- */

/* ----Nav------- */

.menu_list {
  position: relative;
  background-color: #87ceeb;
  font-size: 14px;
  display: none;
}
/* ----Nav------- */

/* ------Slider-------- */

.banner_slider {
  padding: 2px 50px 20px 50px;
  position: inherit;
}

/* -----Slider--------- */

.expo_link {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expo_link div img {
  width: 200px;
}

/* -------Media--------- */
@media screen and (max-width: 768px) {
  .box {
    width: 33.33%;
  }
  .logo_description {
    font-size: 14px;
  }
  .menu {
    display: none;
  }

  .col_1,
  .col_2,
  .col_3 {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .box {
    width: 50%;
  }
  .logo_description {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
  .menu li {
    width: 100%;
    display: block;
    font-style: 12px;
  }
  .menu a {
    display: block;
    padding: 8px;
  }
  .toggle-button {
    text-align: center;
    display: block;
    cursor: pointer;
    color: black;
  }

  .col_1,
  .col_2,
  .col_3 {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* -------Media--------- */
