img {
  width: 100%;
}
Header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/image1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;


}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h4 {
  padding-left: 12px;
}
.logo img {
  width: 60px;
}
.logo_description {
  color: #676666;
}
.menu {
  display: flex;
  color: #676666;
  align-items: center;
}
.menu li {
  padding: 14px;
  font-size: 14px;
  position: relative;
}

li:hover {
  background-color: aliceblue;
  color: #fff;
  opacity: 85%;
}

li ul {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #C4C4C4;
  font-weight: 500;
  overflow: hidden;
  max-height: 0;
  transition: 1s;
  color: black;
}
li:hover > ul {
  max-height: 500px;
  background: aliceblue;
  color: black;

}
.xerna {
  margin-top: -1500px;
  opacity: 0.5;
  clear: right;
}
.headerTittle {
  font-family: Circe;
  font-weight: bold;
  font-size: 40px;
  line-height: 94px;
  color: #FFFFFF;
text-align: center;
  padding-left: 300px;
  margin-top: 60px;
  text-shadow: -1px -1px 4px rgba(255, 255, 255, 0.25), 2px 2px 6px rgba(0, 0, 0, 0.25);
}
.headerTittleSecond {
  font-family: Circe;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 106px;
  color: #FFFFFF;
  text-align: center;
  padding-left: 300px;
  text-shadow: -2px 2px 4px rgba(255, 255, 255, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.yellowBox {
  position: absolute;
  width: 691px;
  left: 749px;
  top: 0;
  opacity: 0.5;
}



.containerContent {
  max-width: 1140px;
  height: 1000px;
 position: relative;
  top: -400px;
  left: 180px;
  clear: left;
}
.expoVr {
  display: flex;
}
.divForSlider {
  min-width: 1128px;
  background-color: antiquewhite;
  height: 250px;
  margin-bottom: 20px;
}
.vr {
  min-width: 630px;
  height: 282px;
background-image: url("../img/vr1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 20px;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

img {
  width: 100%; !important;
}

.sim-slider {
  max-width: 1130px;
  min-width: 300px;
  margin: 20px auto;
  padding: 30px 50px;
  border: 1px solid #ccd;
  background-color: white;
}

/* General styles */
.sim-slider {
  position: relative;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
  opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
  opacity: 1.0;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}
span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}

/* ------youtube------- */
/* ------youtube------- */

.youtube {
  padding: 20px 0;
}

.youtube_wrap {
  display: flex;
  flex-flow: wrap;
}
.left_youtube,
.right_youtube {
  width: 50%;
}
.left_youtube iframe{
  width: 600px;
}

.right_youtube .youtube_wrap {
  padding-left: 10%;
}

.right_youtube .youtube_wrap .youtube_block .youtube_inblock iframe {
  width: 100%;
}

.youtube_block {
  width: 50%;
}

/* .youtube_block .right_padding {
  padding-right: 10px;
} */

.youtube_block .padding_bottom {
  padding-bottom: 20px;
}

.youtube_inblock {
  width: 250px;
}

/* ------youtube end------- */
/* ------youtube end------- */

/* ------about_kyrgyzstan------- */

.about_kyrgyzstan {
  padding: 20px 0;
}

.about_wrap {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin-right: -10px;
}

.about_block {
  padding-right: 10px;
  width: 20%;
}

.about_block img {
  width: 100%;
}
/* ------about_kyrgyzstan end------- */

/* --------Sponsors--------- */

.wrap_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  border-bottom: 3px solid #000;
  width: 100%;
}

.line_title {
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;
  padding: 0 30px;
}
/* --------Sponsors end--------- */